<div class="flex gap-6 p-3 justify-between">
  <div class="text-sm"><%= line_item.quantity %></div>
  <div class="text-sm"><%= line_item.sneaker.name %></div>
  <div class="text-sm text-green-500 ml-10"><%= line_item.total_price %></div>
</div>
